.breadcrumbs {
  height: 50px;
  width: 100%;
  background-color: #EBEADE;
  > .container {
    height: 100%;
    display: flex;
    align-items: center;
    > .link {
      > a {
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 13px;
        color: $alterFontColor2;
        margin: 5px 0 0 10px;
      }
    }
  }
}