@import url("../fonts/montserrat/stylesheet.css");
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F8F5EA;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: #222222;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.space-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-baseline {
  align-items: baseline;
}

.header {
  background-color: #F8F5EA;
  height: 125px;
  width: 100%;
  position: relative;
}
.header > .header-fixed {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  max-height: 125px;
  width: 100%;
  background-color: #F8F5EA;
  z-index: 1000;
}
.header > .header-fixed > .header-progress-bar {
  width: 100%;
  height: 5px;
  background-color: #F8F5EA;
}
.header > .header-fixed > .header-progress-bar > .header-progress-bar-line {
  height: 100%;
  width: 0;
  background-color: #FA1E38;
}
.header > .header-fixed > .container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > .header-fixed > .container > .header-logo {
  width: 50%;
  max-width: 280px;
  transition: 0.3s;
}
.header > .header-fixed > .container > .header-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header > .header-fixed > .container > .header-logo > .header-logo-image {
  height: 100%;
  width: 100%;
  display: flex;
}
.header > .header-fixed > .container > .header-logo > .header-logo-image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header > .header-fixed > .container > .header-buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header > .header-fixed > .container > .header-buttons > .header-login {
  display: flex;
}
.header > .header-fixed > .container > .header-buttons > .header-login > button {
  padding: 0;
  box-sizing: border-box;
}
.header > .header-fixed > .container > .header-buttons > .header-login > .header-button-login {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: 1px solid #1B1B1B;
  background-color: #F8F5EA;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #1B1B1B;
  transition: 0.3s;
}
.header > .header-fixed > .container > .header-buttons > .header-login > .header-button-login:hover {
  border: 1px solid #FFFFFF;
  background-color: #FA1E38;
  color: #FFFFFF;
}
.header > .header-fixed > .container > .header-buttons > .header-login > .header-button-reg {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 0 0 20px;
  transition: 0.3s;
}
.header > .header-fixed > .container > .header-buttons > .header-login > .header-button-reg:hover {
  color: #1B1B1B;
}
.header > .header-fixed > .container > .header-buttons > .login {
  align-items: center;
}
.header > .header-fixed > .container > .header-buttons > .login > .avatar {
  height: 45px;
  min-height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.header > .header-fixed > .container > .header-buttons > .login > .avatar > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header > .header-fixed > .container > .header-buttons > .login > .user {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #1B1B1B;
  margin: 0 10px 0 20px;
}
.header > .header-fixed > .container > .header-buttons > .login > .actions {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > .header-fixed > .container > .header-buttons > .login > .actions:hover {
  cursor: pointer;
}
.header > .header-fixed > .container > .header-buttons > .login > .actions > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header > .header-fixed > .container > .header-buttons > .header-burger-menu {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: #A5A5A5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.header > .header-fixed > .container > .header-buttons > .header-burger-menu:hover {
  cursor: pointer;
}
.header > .header-fixed > .container > .header-buttons > .header-burger-menu:hover > .header-burger-menu-line {
  background-color: #FA1E38;
}
.header > .header-fixed > .container > .header-buttons > .header-burger-menu > .header-burger-menu-line {
  height: 2px;
  width: 20px;
  background-color: #FFFFFF;
  transition: 0.3s;
}

.main {
  background-color: #F8F5EA;
}
.main > .main-block-1 {
  height: calc(600px - 120px);
}
.main > .main-block-1 > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .text > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .text > h1 {
  max-width: 410px;
  margin: 16px 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #1B1B1B;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation {
  display: flex;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > button {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > button:hover {
  color: #1B1B1B;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .scroll-buttons {
  display: flex;
  margin: 0 0 0 10px;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .scroll-buttons > button {
  height: 40px;
  width: 40px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #A5A5A5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .scroll-buttons > button:hover > img {
  transform: scale(1.5);
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .scroll-buttons > button > img {
  transition: 0.3s;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50px;
  margin: 0 0 0 25px;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .pagination > .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #F8F5EA;
  box-sizing: border-box;
  transition: 0.3s;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .pagination > .circle:hover {
  cursor: pointer;
  background-color: #FA1E38;
  border: none;
}
.main > .main-block-1 > .container > .main-block-1-container-info > .main-block-1-container-info-navigation > .pagination > .active {
  background-color: #FA1E38;
  border: 1px solid #FA1E38;
}
.main > .main-block-1 > .container > .main-block-1-container-image {
  height: 100%;
  max-height: 360px;
}
.main > .main-block-1 > .container > .main-block-1-container-image > img {
  height: 100%;
  object-fit: contain;
}
.main > .main-block-2 {
  height: 557px;
  width: 100%;
  background-color: #F8F5EA;
  position: relative;
}
.main > .main-block-2 > .main-block-2-top {
  height: 500px;
  width: 100%;
  background-color: #FA1E38;
}
.main > .main-block-2 > .main-block-2-top > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FFFFFF;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > h3 {
  width: 100%;
  max-width: 460px;
  margin: 28px 0 50px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button {
  height: 40px;
  width: 100%;
  max-width: 183px;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1B;
  border-radius: 5px;
  box-sizing: border-box;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button:hover {
  cursor: pointer;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button > .circle {
  height: 18px;
  width: 18px;
  border: 1px solid #FA1E38;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button > .circle:hover {
  border: 1px dotted #FA1E38;
  transform: scale(1.5);
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button > .circle:hover > img {
  transform: scale(1.5);
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-info > .main-block-2-container-info-button > .circle > img {
  height: 50%;
  width: 50%;
  margin: 0 0 0 2px;
  object-fit: contain;
  transition: 0.3s;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-image {
  position: relative;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-image > img {
  position: relative;
  z-index: 1;
}
.main > .main-block-2 > .main-block-2-top > .container > .main-block-2-container-image > div {
  position: absolute;
  top: 30%;
  left: -15%;
  z-index: 0;
}
.main > .main-block-2 > .main-block-2-bottom {
  background-color: pink;
  position: relative;
  width: 100%;
}
.main > .main-block-2 > .main-block-2-bottom > .container {
  height: 115px;
  background-color: #1B1B1B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  padding: 0 100px;
  box-sizing: border-box;
}
.main > .main-block-2 > .main-block-2-bottom > .container > .main-block-2-bottom-item {
  display: flex;
  align-items: center;
}
.main > .main-block-2 > .main-block-2-bottom > .container > .main-block-2-bottom-item > .main-block-2-bottom-item-icon {
  height: 36px;
  min-height: 36px;
  width: 36px;
  min-width: 36px;
}
.main > .main-block-2 > .main-block-2-bottom > .container > .main-block-2-bottom-item > .main-block-2-bottom-item-icon > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main > .main-block-2 > .main-block-2-bottom > .container > .main-block-2-bottom-item > p {
  margin: 0 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.main > .main-block-3 {
  width: 100%;
}
.main > .main-block-3 > .container > .main-block-3-1 {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 0;
}
.main > .main-block-3 > .container > .main-block-3-1 > h2 {
  width: 100%;
  max-width: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-1 > .text {
  width: 100%;
  max-width: calc(50% - 10px);
}
.main > .main-block-3 > .container > .main-block-3-1 > .text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #1B1B1B;
}
.main > .main-block-3 > .container > .main-block-3-1 > .text > .decoration {
  height: 1px;
  width: 135px;
  margin: 25px 0 0 0;
  background-color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 55px 0 0 0;
}
.main > .main-block-3 > .container > .main-block-3-2 > .main-block-3-info-item {
  height: 275px;
  width: 275px;
  border-radius: 10px;
  margin: 0 0 20px 0;
  transition: 0.3s;
}
.main > .main-block-3 > .container > .main-block-3-2 > .main-block-3-info-item:hover {
  transform: scale(1.1);
}
.main > .main-block-3 > .container > .main-block-3-2 > .main-block-3-info-item > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
.main > .main-block-3 > .container > .main-block-3-2 > .main-item {
  background-color: #FA1E38;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .main-block-3 > .container > .main-block-3-2 > .image-item {
  background-color: #FEE2BC;
  position: relative;
  overflow: hidden;
}
.main > .main-block-3 > .container > .main-block-3-2 > .image-item > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 5%;
}
.main > .main-block-3 > .container > .main-block-3-2 > .info-item {
  background-color: #1B1B1B;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main > .main-block-3 > .container > .main-block-3-2 > .info-item > h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-2 > .info-item > p {
  margin: 16px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
}
.main > .main-block-3 > .container > .main-block-3-3 {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 0;
}
.main > .main-block-3 > .container > .main-block-3-3 > h2 {
  width: 100%;
  max-width: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-3 > .text {
  width: 100%;
  max-width: calc(50% - 10px);
}
.main > .main-block-3 > .container > .main-block-3-3 > .text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #1B1B1B;
}
.main > .main-block-3 > .container > .main-block-3-3 > .text > .decoration {
  height: 1px;
  width: 135px;
  margin: 25px 0 0 0;
  background-color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-4 {
  margin: 55px 0 75px 0;
  display: flex;
  justify-content: space-between;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item {
  height: 500px;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .image {
  height: 50%;
  width: 100%;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .info {
  height: 50%;
  width: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .info > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FA1E38;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .info > p {
  margin: 25px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .decoration {
  height: 128px;
  width: 64px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/block-3-decoration.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .main-block-3 > .container > .main-block-3-4 > .main-block-3-4-item > .decoration > p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.main > .main-block-4 {
  width: 100%;
  background-color: #1B1B1B;
}
.main > .main-block-4 > .container {
  display: flex;
}
.main > .main-block-4 > .container > .main-block-4-1 {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 0;
}
.main > .main-block-4 > .container > .main-block-4-1 > h2 {
  width: 100%;
  max-width: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-4 > .container > .main-block-4-1 > .text {
  width: 100%;
  max-width: calc(50% - 10px);
}
.main > .main-block-4 > .container > .main-block-4-1 > .text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
}
.main > .main-block-4 > .container > .main-block-4-1 > .text > .decoration {
  height: 1px;
  width: 135px;
  margin: 25px 0 0 0;
  background-color: #FA1E38;
}
.main > .main-block-4 > .container > .main-block-4-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 55px 0 0 0;
}
.main > .main-block-4 > .container > .main-block-4-2 > .image {
  width: 40%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.main > .main-block-4 > .container > .main-block-4-2 > .image > img {
  height: 125%;
  width: 125%;
  object-fit: contain;
  transform: rotate(0deg);
  position: absolute;
  left: -92px;
  bottom: -215px;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info {
  width: 60%;
  max-width: 635px;
  margin: 0 0 45px 0;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block {
  width: 100%;
  max-width: 635px;
  border-radius: 10px;
  border: 1px solid #FA1E38;
  padding: 55px 65px 65px 65px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block > h2 {
  margin: 0 0 15px 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block > div {
  display: flex;
  margin: 25px 0 0 0;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block > div > .decoration {
  margin: 10px 30px 0 0;
  height: 5px;
  min-height: 5px;
  width: 5px;
  min-width: 5px;
  border-radius: 50%;
  border: 1px solid #FA1E38;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block > div > .decoration:hover {
  cursor: pointer;
  background-color: #FA1E38;
}
.main > .main-block-4 > .container > .main-block-4-2 > .info > .info-block > div > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.main > .main-block-5 {
  width: 100%;
  background-color: #FA1E38;
  height: 380px;
}
.main > .main-block-5 > .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.main > .main-block-5 > .container > .main-block-5-info {
  width: 60%;
}
.main > .main-block-5 > .container > .main-block-5-info > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FFFFFF;
}
.main > .main-block-5 > .container > .main-block-5-info > button {
  height: 40px;
  padding: 0 36px;
  margin: 30px 0 0 0;
  background-color: #0c0c0c;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main > .main-block-5 > .container > .main-block-5-info > button:hover {
  transform: scale(1.1);
}
.main > .main-block-5 > .container > .main-block-5-image {
  width: 40%;
}
.main > .main-block-5 > .container > .main-block-5-image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main > .main-block-6 {
  width: 100%;
  background-color: #F8F5EA;
}
.main > .main-block-6 > .container {
  display: flex;
}
.main > .main-block-6 > .container > .main-block-6-1 {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 0;
}
.main > .main-block-6 > .container > .main-block-6-1 > h2 {
  width: 100%;
  max-width: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-6 > .container > .main-block-6-1 > .text {
  width: 100%;
  max-width: calc(50% - 10px);
}
.main > .main-block-6 > .container > .main-block-6-1 > .text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #1B1B1B;
}
.main > .main-block-6 > .container > .main-block-6-1 > .text > .decoration {
  height: 1px;
  width: 135px;
  margin: 25px 0 0 0;
  background-color: #FA1E38;
}
.main > .main-block-6 > .container > .main-block-6-2 {
  margin: 25px 0 0 0;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question {
  position: relative;
  margin: 30px 0 0 0;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question:not(:last-child) {
  border-bottom: 1px solid grey;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1B1B1B;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question > p {
  margin: 20px 0 25px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1B1B1B;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question > .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #A5A5A5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question > .close:hover {
  cursor: pointer;
}
.main > .main-block-6 > .container > .main-block-6-2 > .item-question > .close > img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}
.main > .main-block-6 > .container > .main-block-6-2 > .brief > h2 {
  margin: 0 0 25px 0;
}
.main > .main-block-6 > .container > .main-block-6-2 > .brief > p {
  display: none;
}
.main > .main-block-6 > .container > .main-block-6-2 > .brief > .close > img {
  transform: rotate(45deg);
}
.main > .main-block-6 > .container > .main-block-6-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-video {
  min-height: 600px;
  width: 75%;
  background-color: #1B1B1B;
  border-radius: 10px;
  position: relative;
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-video > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 80px;
  width: 80px;
  transition: 0.3s;
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-video > img:hover {
  cursor: pointer;
  transform: translateY(-50%) translateX(-50%) scale(1.1);
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-button {
  margin: 55px 0 75px 0;
  display: flex;
  justify-content: center;
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-button > button {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main > .main-block-6 > .container > .main-block-6-3 > .main-block-6-button > button:hover {
  color: #1B1B1B;
}
.main > .main-block-7 {
  width: 100%;
  background-color: #1B1B1B;
}
.main > .main-block-7 > .container {
  display: flex;
}
.main > .main-block-7 > .container > .main-block-7-1 {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 0 0;
}
.main > .main-block-7 > .container > .main-block-7-1 > h2 {
  width: 100%;
  max-width: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-7 > .container > .main-block-7-1 > .text {
  width: 100%;
  max-width: calc(50% - 10px);
}
.main > .main-block-7 > .container > .main-block-7-1 > .text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #FFFFFF;
}
.main > .main-block-7 > .container > .main-block-7-1 > .text > .decoration {
  height: 1px;
  width: 135px;
  margin: 25px 0 0 0;
  background-color: #FA1E38;
}
.main > .main-block-7 > .container > .main-block-7-2 {
  width: 100%;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 55px 0 0 0;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news > .item-news {
  width: 100%;
  max-width: 360px;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news > .item-news > .image {
  height: 240px;
  width: 360px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news > .item-news > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news > .item-news > p {
  margin: 20px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #A5A5A5;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-news > .item-news > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-button {
  margin: 55px 0 75px 0;
  display: flex;
  justify-content: center;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-button > button {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main > .main-block-7 > .container > .main-block-7-2 > .main-block-7-button > button:hover {
  color: #1B1B1B;
}
.main > .main-block-8 {
  height: 440px;
  width: 100%;
  background-color: #F8F5EA;
}
.main > .main-block-8 > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > .main-block-8 > .container > .about > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #FA1E38;
}
.main > .main-block-8 > .container > .about > div {
  margin: 35px 0;
}
.main > .main-block-8 > .container > .about > div > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1B1B1B;
}
.main > .main-block-8 > .container > .about > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #1B1B1B;
  border-bottom: 1px dotted #1B1B1B;
}
.main > .main-block-8 > .container > .about > a:hover {
  border-bottom: 1px solid #1B1B1B;
}
.main > .main-block-8 > .container > .registration {
  width: 100%;
  max-width: 570px;
  display: flex;
  background: #EEEDE7;
  border-radius: 10px;
  padding: 0 0 0 45px;
  box-sizing: border-box;
}
.main > .main-block-8 > .container > .registration > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 215px;
}
.main > .main-block-8 > .container > .registration > .text > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1B1B1B;
}
.main > .main-block-8 > .container > .registration > .text > button {
  margin: 25px 0 0 0;
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.main > .main-block-8 > .container > .registration > .text > button:hover {
  color: #1B1B1B;
}
.main > .main-block-8 > .container > .registration > .image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer {
  width: 100%;
  background-color: #1B1B1B;
  padding: 55px 0 0 0;
}
.footer > .container > .footer-links {
  display: flex;
  justify-content: space-between;
}
.footer > .container > .footer-links > .image {
  transition: 0.3s;
}
.footer > .container > .footer-links > .image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.footer > .container > .footer-links > .links {
  width: 50%;
  display: flex;
}
.footer > .container > .footer-links > .links > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer > .container > .footer-links > .links > div > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 0 22px 50%;
}
.footer > .container > .footer-links > .links > div > a:hover {
  text-decoration: underline;
}
.footer > .container > .footer-copyright {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.footer > .container > .footer-copyright > a {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #A5A5A5;
}
.footer > .container > .footer-copyright > a:last-child {
  margin: 0 0 0 25%;
}
.footer > .container > .footer-copyright > a:hover {
  text-decoration: underline;
}
.footer > .container > .made-by {
  display: flex;
  justify-content: center;
  padding: 0 0 5px 0;
}
.footer > .container > .made-by > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 8px;
  color: #A5A5A5;
}
.footer > .container > .made-by > a:hover {
  text-decoration: underline;
}

.modals {
  height: 100vh;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.8);
}
.modals > .header-menu > .modal-progress-bar {
  height: 5px;
  width: 100%;
  background: none;
}
.modals > .header-menu > .modal-progress-bar > .modal-progress-bar-line {
  height: 100%;
  width: 0;
  background-color: #FA1E38;
}
.modals > .header-menu > .container-modal {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #1B1B1B;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .image {
  width: 50%;
  max-width: 280px;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .image > a {
  height: 100%;
  width: 100%;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .image > a > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .not-login > .button-login {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  background-color: #1B1B1B;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  transition: 0.3s;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .not-login > .button-login:hover {
  border: 1px solid #FFFFFF;
  background-color: #F8F5EA;
  color: #1B1B1B;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .not-login > .button-registration {
  height: 40px;
  padding: 0 36px;
  border-radius: 5px;
  border: none;
  background-color: #FA1E38;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 0 0 20px;
  transition: 0.3s;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .not-login > .button-registration:hover {
  color: #1B1B1B;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login {
  align-items: center;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .avatar {
  height: 45px;
  min-height: 45px;
  width: 45px;
  min-width: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .avatar > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .user {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  margin: 0 10px 0 20px;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .actions {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .actions:hover {
  cursor: pointer;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .login > .actions > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .close {
  height: 40px;
  width: 40px;
  background: #A5A5A5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .close:hover {
  cursor: pointer;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-buttons > .buttons > .close > img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-links {
  display: flex;
  margin: 50px 0 0 0;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-links > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-links > div > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #A5A5A5;
  margin: 0 0 25px 0;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-links > div > a:hover {
  text-decoration: underline;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-links > .active > a {
  color: #FFFFFF;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-copyright {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
  padding: 0 0 50px 0;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-copyright > a {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #A5A5A5;
}
.modals > .header-menu > .container-modal > .container > .modal-menu-copyright > a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
