.pop-up {
  height: #{calc(100vh - 5px)};
  width: 100%;
  position: fixed;
  top: 5px;
  left: 0;
  padding: 190px 0 0 0;
  background-color: rgba(27, 27, 27, 0.8);
  z-index: 9000;
  > .message {
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    position: relative;
    > .icon {
      height: 42px;
      min-height: 42px;
      width: 42px;
      min-width: 42px;
      border-radius: 50%;
      background-color: #EDEDED;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
    }
    > .text {
      font-family: $mainFontFamily;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: $alterFontColor;
      text-align: center;
      max-width: 330px;
      margin: 22px auto 0;
    }
    > .close {
      height: 20px;
      min-height: 20px;
      width: 20px;
      min-width: 20px;
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer;
      transition: $transition;
      &:hover {
        transform: scale(1.5);
      }
      > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  > .ok {
    background-color: green;
    > .icon {
      background-image: url("../images/check.svg");
    }
  }
  > .alert {
    background-color: $alterColor3;
    > .icon {
      background-image: url("../images/icon-cross-red.svg");
    }
  }
}