.main {
  background-color: $mainBgColor;
  > .main-block-1 {
    // background-color: red;
    height: #{calc(600px - 120px)};
    > .container {
      height: 100%;
      display: flex;
      align-items: center;
      > .main-block-1-container-info {
        > h2 {
          font-family: $mainFontFamily;
          font-weight: 500;
          font-size: 15px;
          color: $alterFontColor4;
        }
         > h1 {
           max-width: 410px;
           font-weight: 600;
           font-style: normal;
           font-size: 35px;
           line-height: 45px;
           color: $mainFontColor;
         }
      }
      > .main-block-1-container-image {
        height: 100%;
        max-height: 360px;
        > img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
.footer {
  background-color: yellow;
}