.main {
  > .main-news {
    background-color: $mainColor;
    margin: 55px 0 0 0;
    > .container {
      display: flex;
      justify-content: space-between;
      > .text {
        width: 50%;
        max-width: #{calc(50% - 40px)};
        > p {
          font-family: $mainFontFamily;
          font-weight: 500;
          font-size: 13px;
          color: $alterFontColor2;
        }
        > h1 {
          font-family: $mainFontFamily;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          color: $mainFontColor;
          margin: 10px 0;
        }
        > h2 {
          font-family: $mainFontFamily;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: $mainFontColor;
        }
        > .link {
          margin: 15px 0 0 0;
          > a {
            font-family: $mainFontFamily;
            font-weight: 500;
            font-size: 13px;
            color: $alterFontColor3;
            &:hover {
              text-decoration: underline;
            }
            > img {
              margin: 0 0 0 12px;
              transition: $transition;
              &:hover {
                margin: 0 0 0 20px;
              }
            }
          }
        }
      }
      > .image {
        height: 100%;
        min-height: 320px;
        width: 50%;
        background-color: $alterColor1;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        > img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  > .brief-news {
    background-color: $mainColor;
    margin: 55px 0 0 0;
    > .container {
      display: flex;
      justify-content: space-between;
      > .item-news {
        width: 100%;
        max-width: 360px;
        > .image {
          height: 240px;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        > p {
          font-family: $mainFontFamily;
          font-weight: 500;
          font-size: 13px;
          color: $alterFontColor2;
          margin: 20px 0 0 0;
        }
        > h2 {
          font-family: $mainFontFamily;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          color: $mainFontColor;
          margin: 10px 0;
        }
        > h3 {
          font-family: $mainFontFamily;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: $mainFontColor;
        }
        > .link {
          margin: 15px 0 0 0;
          > a {
            font-family: $mainFontFamily;
            font-weight: 500;
            font-size: 13px;
            color: $alterFontColor3;
            &:hover {
              text-decoration: underline;
            }
            > img {
              margin: 0 0 0 12px;
              transition: $transition;
              &:hover {
                margin: 0 0 0 20px;
              }
            }
          }
        }
      }
    }
  }
  > .promo {
    background-color: $mainColor;
    margin: 55px 0 75px 0;
    > .container {
      > div {
        background: $alterColor2;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 120px;
        > .text {
          > h2 {
            font-family: $mainFontFamily;
            font-weight: 600;
            font-size: 35px;
            line-height: 45px;
            color: $alterFontColor;
            max-width: 520px;
          }
          > button {
            height: 40px;
            padding: 0 36px;
            border-radius: 5px;
            border: 1px solid #1B1B1B;
            background-color: $alterBgColor4;
            font-family: $mainFontFamily;
            font-weight: 500;
            font-size: 13px;
            color: $alterFontColor;
            margin: 30px 0 0 0;
            transition: $transition;
            &:hover {
              border: 1px solid $alterBgColor4;
              background-color: $mainBgColor;
              color: $mainFontColor;
            }
          }
        }
        > .image {
          > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
  > .more-news {
    background-color: $mainColor;
    margin: 55px 0 75px 0;
    > .container {
      display: flex;
      justify-content: center;
      > button {
        height: 40px;
        padding: 0 36px;
        border-radius: 5px;
        border: 1px solid $alterBgColor3;
        background-color: $alterBgColor3;
        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 13px;
        color: $alterFontColor;
        margin: 30px 0 0 0;
        transition: $transition;
        &:hover {
          border: 1px solid $alterBgColor4;
          // background-color: $mainBgColor;
          color: $mainFontColor;
        }
      }
    }
  }
}